{% extends "base.html.jinja" %}

{% block content %}
<section class="container">
    <div class="row">
        <img class="mx-auto d-block img-fluid" src="/static/images/dead_link.png"/>
    </div>
</section>
{% endblock %}
