/* body padding for fixed navbar */
body {
    padding-top: 65px;
}

/* hidden spacer before sections for proper offset */
section:before {
    height: 65px;
    content: "";
    display:block;
}

pre {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
}
