<!DOCTYPE html>
<html>
{% include "head.html.jinja" %}
<body>
    {% include "nav.html.jinja" %}
    <main>
        {% block content %}{% endblock %}
    </main>
    {% include "scripts.html.jinja" %}
</body>
</html>